torch
torchvision
torchaudio

transformers==4.46.3
accelerate
sentencepiece
safetensors

easyocr

opencv-python
pillow
numpy

adbutils

matplotlib
scikit-learn

huggingface-hub
tqdm
requests

protobuf

ultralytics